# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Virtual environment
.venv/
venv/

# PyCharm
.idea

# Py bytecode
**/__pycache__/
**/*.py[cod]

# Logs
*.log
